body{
    background-color: #ffffff;
    background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
    background-attachment: fixed;
    background-size: cover;
}
.col{
    margin: 0;
}
.c1{
    text-align: left;
}
.c2{
    text-align: right;
    margin: 0;
}
.x1{
    margin-left: 10%;
    padding-right: 10;
}
