.x{
    font-size: large;
}
.Title{
    text-decoration: underline;
}
.btn{
    margin-top: 100;
}
.follow{
    max-width:10%;
    max-height:50%;

}

.f{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 25px;
    padding-top: 50px;
}